@charset "utf-8"

// 0-tools
@import '0-tools/bootstrap'
@import '0-tools/bourbon/bourbon'

// 1-base - Base, buttons, icons, vars //
@import '1-base/vars'
@import '1-base/base'


// 2-modules - flex-video, single-nav,
//@import '2-modules/nav'

// 3-sections
//@import '3-sections/1-header'
.row
  margin-top: 20px
.fundo-branco
  background-color: $branco
#titulo
  margin: 80px 0 40px
  text-align: center
  h1
    font-size: 1.8rem
    line-height: 1.4
h3
  padding: 20px 0 20px 25px
  position: relative
  max-width: 182px
  color: $branco
  margin: auto
  &::after
    content: ""
    width: 0
    height: 0
    position: absolute
    right: -20px
    top: 0
    border-top: 50px solid transparent
    border-bottom: 50px solid transparent

@media (max-width: 992px)
  h3
    margin: 0 auto 20px auto
    padding: 30px
    max-width: 350px
    text-align: center
    border-radius: 5px
    &::after
      border: none

.linha-padding
  padding: 39px 5px
  margin-top: 50px
  position: relative
  &::before
    content: ""
    width: 0
    height: 0
    border-right: 35px solid transparent
    border-left: 35px solid transparent
    border-bottom: 25px solid $branco
    position: absolute
    top: -25px
    left: 50%
    margin-left: -35px

h2
  font-size: 2.3rem

.col-md-12
  p
    margin-left: auto
    margin-right: auto

// linha-um
#linha-um
  p
    font-size: 0.7rem
  .cabecalho
    border-right: 15px solid $verde
    padding-top: 20px
    &:last-child
      border-right: none
    img
      margin-top: 20%
      //max-width: 240px

@media (max-width: 768px)
  #linha-um
    background-color: transparent
    p
      font-size: 1.2rem
    .cabecalho
      background-color: $branco
      border: none
      padding: 20px 40px
      margin: 10px 0

      img
        width: 50vw
        margin: 0 auto
        height: auto
        display: block

// linha-dois
#linha-dois
  h3
    background-color: $roxo
    &::after
      border-left: 20px solid $roxo
  p
    background-color: $roxo
    text-align: center
    position: relative
    padding: 40px 0
    //height: 70px
    max-width: 340px
    font-size: 0.8rem
    -webkit-border-top-left-radius: 35px
    -webkit-border-top-right-radius: 35px
    -moz-border-radius-topleft: 35px
    -moz-border-radius-topright: 35px
    border-top-left-radius: 35px
    border-top-right-radius: 35px

@media (max-width: 992px)
  #linha-dois
    p
      font-size: 1rem
      padding: 40px 20px

      &:first-child
        margin-top: 10px

// linha-tres
#linha-tres
  .borda-vermelha
    border: 5px solid $vermelho
    border-radius: 20px
    padding: 20px 5px 5px 5px
    position: relative

    span
      font-size: 0.9rem
      position: absolute
      background-color: $branco
      padding: 0 10px
      text-transform: uppercase
      font-weight: bold
      white-space: nowrap
      bottom: -14px

    #borda-vermelha-span-um
      left: 50%
      margin-left: -114px

    #borda-vermelha-span-dois
        left: 50%
        margin-left: -129px

  h3
    margin-top: 30px
    background-color: $vermelho
    &::after
      border-left: 20px solid $vermelho

  #padding-left
    padding: 0 0 0 10px
    p
      &::after
        border-right: 39px solid transparent
        border-left: 39px solid transparent

  p
    font-size: 0.75rem
    background-color: $vermelho
    text-align: center
    position: relative
    //margin-top: 65px
    padding: 20px 2px
    //overflow: hidden
    -webkit-border-radius: 10px
    -moz-border-radius: 10px
    border-radius: 10px
    //min-height: 100px
    overflow: hidden
    max-width: 350px

@media (max-width: 1200px)
  #linha-tres
    .borda-vermelha
      span
        font-size: 0.7rem
        padding: 0 10px
        bottom: -10px
      #borda-vermelha-span-um
        margin-left: -91.5px
      #borda-vermelha-span-dois
        margin-left: -102.5px



@media (max-width: 992px)
  #linha-tres
    display: block
    h3
      margin-left: auto
    .borda-vermelha
      margin: 30px 0
      display: flex
      p
        font-size: 1rem
        padding: 40px 20px

      span
        font-size: 1.1rem
        padding: 0 25px
        bottom: -17px

      #borda-vermelha-span-um
        margin-left: -152.5px

      #borda-vermelha-span-dois
        margin-left: -170.5px

@media (max-width: 768px)
  #linha-tres
    .borda-vermelha
      display: block



// linha-quatro
#linha-quatro
  .borda-amarela
    border: 5px solid $amarelo
    border-radius: 20px
    padding: 20px 5px 5px 5px
    position: relative

  h3
    background-color: $amarelo
    margin-top: 30px
    &::after
      border-left: 20px solid $amarelo
  p
    font-size: 0.75rem
    background-color: $amarelo
    text-align: center
    position: relative
    //margin-top: 65px
    padding: 20px 2px
    -webkit-border-radius: 10px
    -moz-border-radius: 10px
    border-radius: 10px
    //min-height: 100px
    overflow: hidden
    max-width: 350px
  span
    font-size: 0.9rem
    position: absolute
    background-color: $branco
    padding: 0 5px
    text-transform: uppercase
    font-weight: bold
    //white-space: nowrap
    bottom: -14px
    left: 50%

  #borda-amarela-span-um
    margin-left: -125px
    text-align: center
    bottom: -29px
  #borda-amarela-span-dois
    margin-left: -105px


  #linha-quatro-irregular
    padding: 24px 5px
    max-width: none
    margin: 30px 0

  #seta-direita-amarela
    p
      overflow: visible
      &::after
        content: ""
        width: 0
        height: 0
        position: absolute
        right: -12px
        top: 50%
        margin-top: -15px
        border-top: 15px solid transparent
        border-bottom: 15px solid transparent
        border-left: 12px solid $amarelo

@media (max-width: 1200px)
  #linha-quatro
    span
      font-size: 0.7rem
      padding: 0 10px
      bottom: -10px
    #borda-amarela-span-um
      margin-left: -84.5px
      text-align: center
      bottom: -18px
      max-width: 170px

    #borda-amarela-span-dois
      margin-left: -88.5px



@media (max-width: 992px)
  #linha-quatro
    display: block
    h3
      margin-left: auto
    .borda-amarela
      margin: 30px 0
      display: flex
      p
        font-size: 1rem
        padding: 40px 20px

    #linha-quatro-irregular
      font-size: 1rem

    span
      font-size: 1.1rem
      padding: 0 25px
      bottom: -17px

    #borda-amarela-span-um
      margin-left: -198px
      text-align: center
      bottom: -17px
      max-width: none

    #borda-amarela-span-dois
      margin-left: -148.5px

@media (max-width: 768px)
  #linha-quatro
    .borda-amarela
      display: block

  #seta-direita-amarela
    p
      margin-top: 15px
      &::before
        content: ""
        width: 0
        height: 0
        border-right: 15px solid transparent
        border-left: 15px solid transparent
        border-bottom: 15px solid $amarelo
        position: absolute
        top: -15px
        left: 50%
        margin-left: -15px
      &::after
        display: none

// linha-cinco
#linha-cinco
  margin-bottom: 100px
  h3
    background-color: $azul
    &::after
      border-left: 20px solid $azul

  p
    background-color: $azul
    text-align: center
    position: relative
    padding: 40px 0
    max-width: 360px
    font-size: 0.8rem
    -webkit-border-top-left-radius: 35px
    -webkit-border-top-right-radius: 35px
    -moz-border-radius-topleft: 35px
    -moz-border-radius-topright: 35px
    border-top-left-radius: 35px
    border-top-right-radius: 35px

@media (max-width: 992px)
  #linha-cinco
    p
      font-size: 1rem
      padding: 40px 20px

      &:first-child
        margin-top: 10px


//TOLTIP color
.tooltip.top .tooltip-inner
  background-color: $preto
  padding: 20px 10px
  margin-bottom: 5px
  min-width: 220px

.tooltip.top .tooltip-arrow
  border-top-color: $preto
  bottom: -1px

//buttons
h3
  transition: all 300ms
  &:hover
    opacity: 0.85
a
  text-decoration: none
  cursor: pointer
  color: $preto
  &:hover
    color: $preto
    text-decoration: none
    cursor: pointer
.btn-1
  transition: all 300ms
  text-decoration: none
  color: $preto
  &:hover
    text-decoration: none
    color: $preto
    cursor: pointer

.btn-roxo
  &:hover
    box-shadow: 0px 0px 0px 2px $branco, 0px 0px 0px 4px $roxo

.btn-azul
  &:hover
    box-shadow: 0px 0px 0px 2px $branco, 0px 0px 0px 4px $azul

.btn-vermelho
  &:hover
    box-shadow: 0px 0px 0px 2px $branco, 0px 0px 0px 4px $vermelho

.btn-amarelo
  &:hover
    box-shadow: 0px 0px 0px 2px $branco, 0px 0px 0px 4px $amarelo

//footer
footer
  text-align: center
  background-color: $branco
  padding: 66px 30px 180px
  background-image: url(http://wagnerrosa.com/mapa-estrategico-dpe/img/logo.svg)
  background-repeat: no-repeat
  background-attachment: fixed
  background-position: 50% 95%
  background-size: 160px auto
  border-top: 2px solid #306a4d
  p
    font-size: 14px
    margin: 0
    color: #5b5b5f
